.password-input-field__label-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2px;
  color: var(--color-text);
  font-size: var(--font-md);
}

.password-input-field__label-container--error {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2px;
  color: var(--color-error);
  font-size: var(--font-md);
}

.password-input-field__with-icon {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.password-input-field__toggle-visibility {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: -1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
  font-size: var(--font-sm);
}

.password-input-field__password-strength {
  margin: 1rem 0;
  font-size: var(--font-sm);
  color: var(--color-text);
}
.password-input-field__password-strength.weak {
  color: var(--color-error);
}
.password-input-field__password-strength.moderate {
  color: var(--color-warning);
}
.password-input-field__password-strength.strong {
  color: var(--color-success);
}

.password-input-field__info-icon {
  cursor: pointer;
  font-size: var(--font-md);
  color: var(--color-text);
  margin-left: 0.5rem;
}
