.input-with-icon {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.toggle-password-visibility {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: -1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
