.landing-page-hero {
  /* Füllt entire Viewport */
  height: 100vh;
  width: 100%;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center; /* vertikal zentriert */
  align-items: center; /* horizontal zentriert */

  background-color: var(--color-background-secondary); /* oder ein Bild */
  text-align: center;
  color: var(--color-text);
}

.landing-page-hero__title {
  font-size: var(--font-xl);
  margin-bottom: 1rem;
}

.landing-page-hero__description {
  font-size: var(--font-md);
  max-width: 600px; /* z. B. begrenzen */
  margin: 1rem auto;
  color: var(--color-text-secondary);
}

.landing-page-hero__button {
  padding: 1rem 2rem;
  background-color: var(--color-button);
  color: var(--color-button-text);
  font-size: var(--font-sm);
  border: none;
  cursor: pointer;
  margin-top: 2rem;
  text-transform: uppercase;
}

.landing-page-hero__button:hover {
  background-color: var(--color-button-hover);
}
