.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal__content {
  font-size: var(--font-xs);
  background: var(--color-background);
  padding: 1rem;
  max-width: 350px;
  text-align: left;
}

.modal__content ol {
  list-style: decimal;
  margin: 0;
  padding: 0 0 0 1.5rem;
}

.modal__content ol li {
  margin-bottom: 0.5rem;
}

.modal__close-button {
  font-size: var(--font-xs);
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: var(--color-primary);
  color: var(--color-button-text);
  border: none;
  cursor: pointer;
}
