.register__form {
  width: 100%;
  max-width: 350px;
}

.register__form h1 {
  margin-bottom: 20px;
  text-align: center;
  color: var(--color-text);
}

.register__form .input-field__container {
  margin-bottom: 10px;
  font-size: var(--font-sm);
}

.register__link {
  font-size: var(--font-xs);
  color: var(--color-button);
  margin: 10px 0;
  display: block;
}

.register__form .submit-button {
  margin-top: 10px;
}
