.request-password-reset__form {
  width: 100%;
  max-width: 350px;
}

.request-password-reset__form h1 {
  margin-bottom: 20px;
  text-align: center;
}

.request-password-reset__form .input-field__container {
  margin-bottom: 10px;
  font-size: var(--font-sm);
}

.request-password-reset__form .submit-button {
  margin-top: 10px;
}
