.reset-password__form {
  width: 100%;
  max-width: 350px;
}

.reset-password__form h1 {
  margin-bottom: 20px;
  text-align: center;
}

.reset-password__form .input-field__container {
  margin-bottom: 10px;
  font-size: var(--font-sm);
}

.reset-password__form .submit-button {
  margin-top: 10px;
}
